.head {
    height:auto;
    padding-bottom: 10px;
   
}

.header {
    height:100px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.Backhome img {
    width: 50px;
    position: absolute;
        left: 0px;
        top: 0px;
    margin:10px;    
}

*{
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'roboto',sans-serif;  
  }
  
  body{
    background-image:url(https://wallpapers.com/images/hd/full-4k-desktop-candles-7d468btwwcsshzr0.jpg);
  }

  .contact{
    position: relative;
    min-height: 30vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
  }

  .content{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;  
}

.content p{
  font-size: 15px;
  margin: 15px auto;
}

  .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

.contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
  }

.box{
    position: relative;
    padding: 20px 0;
    display: flex;
  }

 .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
  }
 
.text{
    display: flex;
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
  }

  .text h2{
    color: #32675F;
  }

  .contactForm{
    display: flex;
    font-family: 'Poppins', sans-serif;
    width: 40%;
    padding: 40px;
    background: #fff;
    margin-left: 50px;
    opacity: 0.8;
  }

  .contactForm h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #32675F;
    font-weight: 500;
   
  }

  .inputBox{
    position: relative;
    width: 450PX;
    margin-top: 20px;
  }

  .inputBox input,
  .inputBox textarea{
    width: 100%;
    padding: 5 px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #32675F;
    outline: none;
    resize: none;
  }

  .inputBox input[type= "submit"]{
    position: relative;
    width: 100px;
    background: #32675F;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }

  @media (max-width:786px)
  {
    .contact
    {
      padding: 50px;
    }
    .container
    {
      flex-direction: column;
    }
    .contactInfo
    {
      margin-bottom: 40px;
    }
    .container.contactInfo,
    .contactForm
    {
      width: 100%;
    }
  }



  



  