
* {
	margin: 0px;
	padding: 0px;
	
	
}

@media screen and (max-width:786px) {
	.page1 .intro {
		font-size: 30px;
		margin-top: 20%;
	}

	
	.login {
		display: none;
	}

	.menubar li {
		display: none;
	}

}
@media screen and (min-width:786px) {
			.rmenuico {
				display:none;
			}
		}

@media screen and (max-width:767px) {
	.page2 .product2 {
		display: flex;
		justify-content: center;
		
	}
	
}
@media screen and (max-width:900px) {
	.log {
		width:50px;
	}
	.log h5 {
		display: none;
	}
}

 .body {
		
	font-size: 25px;
	min-width: 500px;
	
 }

 /* whole page 1 design */
 
 .page1 {
	 
	background-image:url("../Images/Page1/1.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	width:100%;
	height: 100%;
	z-index:-2;
	
}

/* logo Css */

.log {
	
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
		top:0px;
	margin: 5px;
	

	
}

.log h5 {
	font-family: "Quicksand", sans-serif;
	font-size: 15px;
	color:rgb(0, 0 , 0, 0.5)
}

.log img {
	width: 50px;
	height: 50px;
}

/* login button */

.login {
	position: absolute;
	right:0%;
	font-family: 'Poppins', sans-serif;
	 padding:7px 20px 7px 20px;
	 border:none;
	 border-radius:20px;
	 background-color:32675F;
	 font-size:16;
	 color:white;
	 margin: 7px 30px 0px 0px;
	
	 
}

/* profile name and Welcome note  */
.namediv {
	height: 50px;
	position: absolute;
		right:0px;

	justify-content: center;
	align-items: center;
	
	

	
}

.name {
	font-size: 15px;
	font-weight: 600;
	color :rgb(0, 0 , 0, 0.5)
	
}

.ProfilePic {
	width : 60px;
	z-index: 10;
	
}

/* profile menu bar */

.profilemenu {
	display: none;
    position: absolute;
    top: 100%; /* Position it below the profile picture */
    right: 0;
	backdrop-filter: blur(10px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}



.profile-container:hover .profilemenu {
    display: block;
}




/* .ProfilePic:hover {
	
} */

.namediv img:hover {
	cursor: pointer;
	display: block;

}




.prm {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-rows: auto auto;
}

.profilemenu button {
	width:100px;
	height: 30px;
	background-color: #32675F;
	color: white;
	margin: 7px;
	border: none;
	border-radius: 30px;
	transition: all 0.3s;
}

.profilemenu button:hover {
	scale:1.08;
}


/* styles of Header */

 .header {
	width: 100% ;
	height: 50px;
	background-color:F7EFE5;
	box-shadow:0px 0px 10px 10px rgb(0, 0 , 0, 0.1);
	display: flex;
	align-items:center;
	justify-content: center;
	z-index: 1;
 }

 /* header menu bar */

 .menubar {
	list-style: none;
	display: inline-flex;
	font-family: 'Poppins', sans-serif;
	justify-content: space-between;
 }

 .menubar li {
	
	padding-left: 30px;
	padding-right: 30px;
 }

 .menubar li a {
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-weight: 600;
	transition: all 0.3s; /* color transition time */
 }

 /* menu bar hover = change color to green */

 .menubar li :hover {
	color:32675F;
	
 }

 /* responsive munu bar designs  */

 .rmenuico {
	position: absolute;
		top: 0px;
		right: 0px;
		
	z-index: 5;
	margin: 5px;
	
 }

 .rmenuico img {
	width: 35px;
	opacity: 0.7;
	
	
 }


 .rmenu1 {
	background-color: rgb(0, 0 , 0, 0.5);
	padding: 10px;
	border-radius: 20px 0px 20px 20px;
	list-style: none;
	position: fixed;
		right:0px;
		top:10px;
	width: auto;
	height: auto;
	display: grid;
	grid-template-rows: 35px 1fr 50px;
	backdrop-filter: blur(50px);
	z-index: 10;
	display: none;

}

.rmenu1 .close {
	width: 25px;
	position: absolute;
		right: 0;
	margin-right: 5px ;
	opacity: 0.6;
}

.rmenu1 .close:hover {
	opacity: 1;
	cursor: pointer;
	scale: 1.1;
}




 .rmenu li {
	margin-left: 20px;
	
	
 }

 .rmenu li a {
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: rgba(255, 255, 255, 0.8);
	font-size: 15px;
 }

 .rmenuico img:hover {
	cursor: pointer;
	
}

.rmenuico img:hover .rmenu1 li {
	display:block;
}

.rlogin {
	font-family: 'Poppins', sans-serif;
	 padding:7px 20px 7px 20px;
	 border:none;
	 border-radius:20px;
	 background-color:32675F;
	 font-size:10px;
	 color:white;
	 margin: 10px 0px 0px 12px;
}


 /* Products Details drop down Page Design */

 .products {
	display: none;
	position: absolute;
	background-color: rgb(217,217,217,0.5 );
	border-radius: 0px 0px 30px 30px ;
	width: 340px;
	height: 350px;
	z-index: 1;
 }

 .topic {
	background-color: 88B5A1;
	border-radius: 5px;
	box-shadow: 0px 5px 10px 2px rgb(0, 0 , 0, 0.1);
	padding: 5px;
	margin:5px;
	position: relative;
 }
 
 .products p {
	font-size: 15px; /* text in name of products */
 }

 .block1 {
	
	/* the part for each product */

	background-color: rgb(50, 103, 95, 0.1);
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0px 5px 5px 2px rgb(0, 0 , 0, 0.1);
	width:300px;
	height: 50px;
	display:flex;
	align-items: center;
	justify-content: left;

	margin: 20px;
 }

 .p1 {
	Width : 30px;
	height: 30px;
	background-color:greenyellow;
	margin: 10px;
	border-radius: 10px;
	transition: all 0.3s;
 }

 .menubar li:hover .products {
	display: block;
 }
 
 .products .block1 img:hover {
	transform: scale(4);
 }

 /* main intro of web page */

 .intro {
	 
	font-family: 'Poppins', sans-serif;
	font-weight:600;
	font-size:40px;
	/*position:absolute;
	   left:100px;
	   top:170px; */
	   margin-top: 10%;
	   margin-left: 6%;
    z-index:0;
	display: flex;
	flex-wrap: wrap;
}

/* button of shop online */

 .shopbtn {
	 font-family: 'Poppins', sans-serif;
	 padding:7px 20px 7px 20px;
	 border:none;
	 border-radius:20px;
	 background-color:#32675F;
	 font-size:22;
	 color:white;
	 
	 
	 /*position
	 
	 position:absolute;
		left:100px;
		top:475px; */

	margin-left: 6%;
	margin-top: 20px;
	 
 }

.btn:hover {
	cursor: pointer;
	scale: 1.02;
	transition: all 0.2s;
 }

 /* discription of payment methods with pic */
 
 .Paymentmethods {
	font-family: 'Open Sans', sans-serif;
	 font-size:15px;
	 /* position:absolute;
		left:100px;
		top:540px; */

	margin-left: 7%;
	margin-top: 20px;
 }
 
 .pay {
	/* position:absolute;
		top:570px;
		left:100px; */

	margin-left: 6%;
	margin-top: 10px;
 }

 /* whole page 2 styles */

 .page2 {
	width: 100%;
	height: auto;
	/*background-image: url(Images/Page2/Background.jpg);*/
	background-attachment:fixed;
	background-size: cover;
	position: relative;
	display: flex;
 }

 /* header */ 
 .header2 {
	width: 100%;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;

 }
 /* heading */
 .heading {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
 }
 
 .product2 {
	font-family: 'Poppins', sans-serif;
	width: 100%;
	flex-wrap: wrap;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	gap:10px;
	align-items: center;
	
	
	
 }

 /* scented Candle part */ 
 .Scen {
	height: 550px;
	width: 280px;
	background-color:D9D9D9;
	border-radius: 30px;
	box-shadow: 1px 2px 5px 5px rgba(152, 151, 151, 0.1);
	/* position: absolute;
		top:80px;
		left: 50px; */
	
	justify-content: center;
	overflow: hidden;
 }

 .pic {
	width: 220px;
	height: 220	px;
	margin: 30px 3px 0px 30px ;
	border-radius: 20px;
	box-shadow: 3px 5px 5px 5px rgb(0, 0 , 0, 0.1);
	
 }

 .txt1 {
	height: 300px;
	width: 280px;
	display: flex;
	background-color: transparent;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	position: relative;
		top:0px;
 }

.txt1 h6 {
	padding: 10px 0px 0px 0px;
	font-size: 20px ;
	font-weight: 450;
	margin: 20px 0px 10px 0px;
	
 }

.txt1 p {
	font-size: 15;
 }

.txt1 input {
	font-size: 17px;
	border: none;
	background-color: transparent;
	text-align: center;

	position: absolute;
		bottom: 5px;
 }

.txt1 input:hover {
	color:32675F;
	cursor: pointer;

 }

 .Soy {
	height: 550px;
	width: 280px;
	background-color:D9D9D9;
	border-radius: 30px;
	box-shadow: 1px 2px 5px 5px rgba(152, 151, 151, 0.1);
	/* position: absolute;
		top:80px;
		left: 380px; */

	justify-content: center;
	overflow: hidden;
 }

 .pillar {
	height: 550px;
	width: 280px;
	background-color:D9D9D9;
	border-radius: 30px;
	box-shadow: 1px 2px 5px 5px rgba(152, 151, 151, 0.1);
	/* position: absolute;
		top:80px;
		left: 710px; */

	justify-content: center;
	overflow: hidden;
 }

 .tea {
	height: 550px;
	width: 280px;
	background-color:D9D9D9;
	border-radius: 30px;
	box-shadow: 1px 2px 5px 5px rgba(152, 151, 151, 0.1);
	/* position: absolute;
		top:80px;
		left: 1040px; */

	justify-content: center;
	overflow: hidden;
 }

  					/* footer styles */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
 body{
	 line-height: 1.5;
	 font-family: 'Poppins', sans-serif;
 }
 
 *{
	 margin:0;
	 padding:0;
	 box-sizing: border-box;
 }
 
 .container{                                  
	 max-width: 1170px;
	 margin:auto;
 }
 
 .row{
	 display: flex;
	 flex-wrap: wrap;
 }
 
 ul{
	 list-style: none;
 }
 .footer{
	 background-color: #24262b;
	 padding: 30px 0;
 }
 .footer-col{
	width: 25%;
	padding: 0 15px;
 }
 .footer-col h4{
	 font-size: 18px;
	 color: #ffffff;
	 text-transform: capitalize;
	 margin-bottom: 35px;
	 font-weight: 500;
	 position: relative;
 }
 .footer-col h4::before{
	 content: '';
	 position: absolute;
	 left:0;
	 bottom: -10px;
	 background-color: #a9f74a;
	 height: 2px;
	 box-sizing: border-box;
	 width: 50px;
 }
 .contact{
	 font-size: 16px;
	 color: #bbbbbb;
	 text-transform: capitalize;
	 margin-bottom: 10px;
	 font-weight: 100;
	 position: relative;
 }
 .footer-col ul li:not(:last-child){
	 margin-bottom: 10px;
 }
 .footer-col ul li a{
	 font-size: 16px;
	 text-transform: capitalize;
	 color: #ffffff;
	 text-decoration: none;
	 font-weight: 300;
	 color: #bbbbbb;
	 display: block;
	 transition: all 0.3s ease;
 }
 .footer-col ul li a:hover{
	 color: #ffffff;
	 padding-left: 8px;
 }
 .footer-col .social-links a{
	 display: inline-block;
	 height: 40px;
	 width: 40px;
	 /* background-color: rgba(255,255,255,0.2); */
	 margin:10px 10px 10px 0;
	 text-align: center;
	 line-height: 50px;
	 border-radius: 50%;
	 color: #ffffff;
	 transition: all 0.5s ease;
 }
 .footer-col .social-links a:hover{
	 scale:1.012;
	 /* background-color: #ffffff; */
 }
 
 .bottom-bar{
	 background:#24262b;
	 text-align:center;
	 padding: 10px;
	 margin-top:50px;
	 width: 100%;
	 display:flex;
	 align-items:center;
	 justify-content:center;
 }
 
 .bottom-bar p{
	 color:#ffffff;
	 margin:0;
	 font-size:14px;
	 padding:1px;
 }
 
 /*responsive*/
 @media(max-width: 767px){
   .footer-col{
	 width: 50%;
	 margin-bottom: 30px;
 }
 }
 @media(max-width: 574px){
   .footer-col{
	 width: 100%;
 }
 }
 

 .welcomenote {
	display: none;
 }